@mixin buttonShadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

@mixin buttonTransition {
  transition: right 0.5s, bottom 0.5s, border-radius 0.5s, text-indent 0.2s,
    visibility 1s, width 0.2s ease, height 0.5s ease 0.4s, color 0.5s,
    background-color 2s, transform 0.5s;
}


//New Topic Fab
.new-create-topic {
  /*
  display: flex;
  align-items: center;
  justify-content: center;
  @include buttonShadow;
  @include buttonTransition;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 120px;
  right: 10px;
  z-index: 10;
  background-color: var(--tertiary);
  color: var(--secondary);
  white-space: nowrap;
  overflow: hidden;
  */


    /* display: flex; */
   // @include buttonShadow;
    //@include buttonTransition;
    /* padding: 0; */
    //margin-bottom: 1px;
    //width: 40px;
    //height: 35px;
    //border-radius: 10px;
    /* position: fixed; */
    /* bottom: 120px; */
    /* right: 10px; */
    //background-color: var(--tertiary);
    z-index: 10;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    white-space: nowrap;
    overflow: hidden;
   
  .d-icon {
    margin: 0;
    //color: #fff;
      width: 32px;
    height: 32px;
  }

  &:not(:hover):not(:active):not(:focus) {
    .d-button-label {
      opacity: 0;
      width: 0;
      margin: 0;
    }
  }
 
}
/*.new-create-topic:hover {
  width: 190px;
}*/
.new-create-topic.btn-default .fa-plus {
  color: var(--secondary);
}

//New Topic Fab
.new-create-image-topic {
  /* display: flex; */
 /* align-items: center;
  justify-content: center;
  @include buttonShadow;
  @include buttonTransition;
  padding: 0;
    margin-right: 20px;
    width: 40px;
    height: 35px;
  border-radius: 10px;*/
  /* position: fixed; */
  /*bottom: 180px;
  right: 10px;
  z-index: 10;
  background-color: $New_image_topic_button_btn_background;
  color: $New_image_topic_button_btn_color;
  white-space: nowrap;
  overflow: hidden;
  */
    z-index: 10;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    white-space: nowrap;
    overflow: hidden;
   
  .d-icon {
    margin: 0;
    //color: #fff;
      width: 32px;
    height: 32px;
  }

  &:not(:hover):not(:active):not(:focus) {
    .d-button-label {
      opacity: 0;
      width: 0;
      margin: 0;
    }
  }
}
/*.new-create-image-topic:hover {
  width: 190px;
}*/

.new-create-image-topic.btn-default .fa-camera {
  color: var(--secondary);
}
